.table {
  position: relative;
  min-height: 600px;
  table {
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    border: 0;
    border-spacing: 0;
    table-layout: fixed;
  }
  &.loader-active {
    &::before {
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #eef2f4;
      opacity: .3;
      z-index: 1000;
    }
    tbody {
      position: relative;
      &::after {
        content: '';
        display: inline-block;
        width: 5rem;
        height: 5rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
        position: absolute;
        top: 4rem;
        left: 50%;
        margin: 10px 0;
      }
    }
  }
  &-grid {
    &-header {
      .table-grid-cell-head {
        position: relative;
        box-sizing: border-box;
        vertical-align: middle;
        padding: 0;
        white-space: nowrap;
        text-transform: uppercase;
        background: $white;
        &.draggable {
          cursor: pointer;
        }
        &:hover {
          .table-grid-head-title {
            color: black;
          }
        }
        &-container {
          position: relative;
          display: flex;
          align-items: center;
          padding: 15px 16px 11px;
          min-width: 100%;
          max-width: 100%;
          .table-grid-head-title {
            display: inline-block;
            overflow: hidden;
            padding-right: 21px;
            max-width: 100%;
            color: grey;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 11px;
            line-height: 12px;
            transition: all .3s cubic-bezier(0, .465, .75, .75);
            user-select: none;
          }
        }
        &:hover {
          .table-grid-resize-button {
            opacity: 1;
            &::before {
              background: rgba(0, 0, 0, .2);
              opacity: 1;
            }
          }
        }
        &__special-empty {
          min-width: 0 !important;
          cursor: default;
          border-right: 0;
        }
      }
    }
    .table-grid-cell {
      position: relative;
      overflow: hidden;
      padding: 0;
      border-bottom: 2px #eef2f4 solid;
      border-top: none;
      background: #fff;
      vertical-align: top;
      * {
        -webkit-user-drag: none;
      }
      &-content {
        position: relative;
        display: block;
        margin: 16px 16px 16px;
        color: #535c69;
        vertical-align: top;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.context-container {
          display: flex;
          align-items: center;
        }
      }
      .edit-pencil {
        right: 0;
        top: calc(50% - 10px);
      }
      &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    &-row {
      &:nth-child(even) {
        .table-grid-cell {
          background-color: $gray-100;
        }
      }
    }
    &-spinner {
      width: 3rem;
      height: 3rem;
    }
    &-resize-button {
      position: absolute;
      top: 0;
      right: -4px;
      bottom: 0;
      z-index: 10;
      display: block;
      width: 11px;
      opacity: 0;
      cursor: col-resize;
      transition: opacity 200ms;
      &::before {
        position: absolute;
        top: 50%;
        right: 4px;
        display: inline-block;
        margin-top: -13px;
        width: 1px;
        height: 26px;
        background: rgba(0, 0, 0, .1);
        content: '';
        font-size: 13px;
      }
      &::after {
        position: absolute;
        top: 100%;
        right: 5px;
        z-index: 1;
        display: inline-block;
        width: 1px;
        background: $gray-200;
        content: '';
        opacity: 0;
        transition: opacity 200ms;
      }
      &:hover {
        &::after {
          height: 50000px;
          opacity: 1;
        }
      }
    }
  }
  &-checkbox {
    margin-left: 2.5rem;
    width: 0;
    padding: 0;
  }
}
