@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './variables.scss';
@import './components/_tableGrid.scss';
@import "./components/_fixedHeader.scss";
@import "./components/_pagination.scss";
.popover-body {
  padding: 0;
}
.pointer {
  cursor: pointer;
  outline: none;
}
.setting-column-checkbox {
  width: 45%;
}
