@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './variables.scss';
@import './components/_tableGrid.scss';
@import "./components/_fixedHeader.scss";
@import "./components/_pagination.scss";
@import "./components/filters.scss";
#app {
  overflow: hidden;
}
.popover-body {
  padding: 0;
}
.pointer {
  cursor: pointer;
  outline: none;
}
.setting-column-checkbox {
  width: 45%;
}
.dropdown-menu.show {
  z-index: 2000;
}
[v-cloak] {
  display: none;
}
.cell-editing {
  .suffix,
  .prefix {
    max-width: 50px;
    padding: 0 5px;
  }
}
.taginput-container {
  border-radius: 0 !important;
  height: 100% !important;
}
.modal {
  z-index: 3000 !important;
  .modal-body {
    padding: 0 1rem !important;
  }
}
.taginput.control {
  height: 100%;
}
