@import './_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './components/_tableGrid.scss';
@import "./components/_fixedHeader.scss";
@import "./components/_pagination.scss";
@import "./components/filters.scss";
#app {
  overflow: hidden;
}
.popover-body {
  padding: 0;
}
.pointer {
  cursor: pointer;
  outline: none;
}
.setting-column-checkbox {
  width: 45%;
}
.dropdown-menu.show {
  z-index: 2000;
}
[v-cloak] {
  display: none;
}
.cell-editing {
  .suffix,
  .prefix {
    max-width: 50px;
    padding: 0 5px;
  }
}
.taginput-container {
  border-radius: 0 !important;
  height: 100% !important;
}
.modal {
  z-index: 3000 !important;
  .modal-body {
    padding: 0 1rem !important;
  }
}
.taginput.control {
  height: 100%;
}
.custom-control-input:checked ~ .custom-control-label {
  color: #5e6164;
  &::before {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #c0d001;
    background-color: #c0d001;
  }
}
.custom-control-label {
  color: #8c9095;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.btn {
  padding: 0 1.9rem;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.custom-select {
  height: 21px;
  border-radius: 2px;
  border: 1px solid $blue;
  line-height: 1.2;
  padding: 0 .9rem;
  background: url('../assets/caret.png') no-repeat right .75rem center/8px 4px;
}
.form-control {
  height: 21px;
  border-radius: 2px;
  border: 1px solid $blue;
}
.input-group-text {
  height: 23px;
  background: $blue;
  color: $white;
  .fa-icon {
    width: 9px;
    height: 12px;
    font-size: 13px;
    margin: 0 0 4px 0;
  }
}
.box-shadow-none {
  box-shadow: none !important;
}
.dropdown-menu.show {
  z-index: 3 !important;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  padding: 0;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1187px;
  }
}
.dropdown-menu {
  min-width: 5rem;
  .dropdown-item {
    padding: .25rem .75rem;
  }
}
